<img class="imgGps" height="80%" width="100%" src="assets/gps_tracker.png" alt="Lamp">
<div class="leftPad25">
        <mat-form-field>
        <mat-select placeholder="pilih personil">
            <mat-option>-- None --</mat-option>
            <mat-option value="option">UAV A</mat-option>
            <mat-option value="option">UAV B</mat-option>
            <mat-option value="option">BACKPACK 1</mat-option>
        </mat-select>
        </mat-form-field>
</div>

<div class="leftPad25">
        <mat-form-field>
        <mat-select placeholder="pilih perintah">
            <mat-option>-- None --</mat-option>
            <mat-option value="option">maju ke</mat-option>
            <mat-option value="option">bawa peralatan medis dkk ke</mat-option>
            <mat-option value="option">lihat ke</mat-option>
        </mat-select>
        </mat-form-field>
</div>

<div class="rightPad25">
<button mat-raised-button mat-button color="warn">kirim</button>
</div>