<!-- Komponen Map menggunakan OpenLayer -->

<!-- Toolbar -->
<mat-toolbar class="headerSAR">
  <mat-toolbar-row>
    <!-- <img class="centerd-item" width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" /> -->
    <span class="centered-item">
      COMMAND CENTER
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div id="map" class="map"></div>

<div id="popup" class="ol-popup">
  <a href=" #" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
</div>

<!-- Buttons sebelah kanan -->
<div class="float-right">
  <mat-grid-list cols="1" rows="1" rowHeight="2:1">
    <mat-grid-tile>
      <button mat-raised-button color="accent" class="button-menu" (click)="showAllFeature()">
        HOME
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="accent" class="button-menu" (click)="showSweeping()">
        MODE PENCARIAN
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="accent" class="button-menu" (click)="showVictimdata()">
        DATA KORBAN
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- Buttons sebelah kiri -->
<div class="float-left">
  <mat-grid-list cols="1" rows="4" rowHeight="2:1">
    <mat-grid-tile>
      <button mat-raised-button (click)="openDialog()" color="accent" class="button-menu">
        <mat-icon class="padIconbutton">message</mat-icon>
        PESAN
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="openReportDialog()" color="accent" class="button-menu">
        <mat-icon class="padIconbutton">report</mat-icon>
        LAPORAN
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="openSensorDialog()" color="accent" class="button-menu">
        <mat-icon class="padIconbutton">warning</mat-icon>
        SENSOR
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="openCommandDialog()" color="accent" class="button-menu">
        <mat-icon class="padIconbutton" >build</mat-icon>
        KOMANDO
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="openVideoDialog()" color="accent" class="button-menu">
        <mat-icon class="padIconbutton">videocam</mat-icon>
        VIDEO
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="float-right-hud">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
</div>

<footer class="footer-design">
  <div style="margin: auto;">
    Lat : 123.45 # Lon : -123.34
  </div>
</footer>
