<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="utf-8" />

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <!-- <script src="https://js.pusher.com/5.0/pusher.min.js"></script> -->
    <style>
      .map {
        /* width: 100%; */
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-3">
        Kolom kiri
      </div>
      <div id="map" class="map col-md-6"></div>
      <div class="col-md-3">
        Kolom kanan
      </div>
    </div>

    <br />
    <button (click)="stayUpdate()">Update Map</button>
  </body>
</html>
