

<div class="example-container">
    <div class="sidePanel">
        <mat-nav-list>
            <h3 mat-subheader class="tc-white">CHANNELS (5)</h3>
            <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1]">
              <a mat-list-item class="tc-white"><mat-icon class="tc-white" matListIcon>forum</mat-icon> channel-name-{{i}}</a>
            </ng-template>
           <!-- <mat-divider></mat-divider> -->
            <h3 mat-subheader class="tc-white">DIRECT MESSAGES</h3>
            <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2]">
              <a mat-list-item class="tc-white"><mat-icon color="accent" matListIcon>lens</mat-icon> username{{i}}</a>
            </ng-template>
          </mat-nav-list>
    </div>
    <div class="mainPanel">
        <div class="chatArea">
            <mat-list>
                <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3]">
                  <mat-list-item class="pad-top pad-bottom">
                    <img matListAvatar src="https://api.adorable.io/avatars/285/{{i}}@adorable.io.png" />
                    <h3 matLine class="cursor-pointer"> Firstname Lastname <span class="tc-grey-500 md-caption">11:24 AM</span></h3>
                    <div matLine>
                      <div class="text-wrap">
                        {{ 'Farm-to-table poke distillery, bushwick messenger bag vaporware neutra artisan paleo.'}}
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-divider *ngIf="!last" mat-inset></mat-divider>
                </ng-template>
              </mat-list>

        </div>
        <div class="messageCard">
            <mat-form-field floatPlaceholder="never" class="messageForm" >
                <textarea flex matInput placeholder="message" class="messageForm"></textarea>
              </mat-form-field>
        </div>
       <!-- <button mat-raised-button class="sendButton">kirim</button>  -->
    </div>
</div>

<!-- <img class="imgChat" height="100%" src="assets/popMessage.png" alt="Lamp"> -->